<section class="home padding">
	<div id="affHome">
		<!-- <button class="button button-full button-light" onclick="fblogin()">Login</button> -->
		<div id="possibleChallengersList" class="list">
			<div class="item item-divider">
				Challengers possible :<span id="numberPossibleChallengers" class="badge badge-dark">0</span>
			</div>
		</div>
		<div id="demandesChallengeList" class="list">
			<div class="item item-divider">
				Demandes de Challenge :<span id="numberDemandesChallenges" class="badge badge-dark">0</span>
			</div>
		</div>
	</div>
</section>
