<section class="login padding">
	<form name="loginForm">
		<div class="list">
			<label class="item item-input item-floating-label">
				<span class="input-label">Login</span>
				<input type="text" placeholder="Login" name="login" id="login" ng-model="login" required="required" />
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">Mot de passe</span>
				<input type="password" placeholder="Mot de passe" name="password" id="password" ng-model="password" required="required" />
			</label>
		</div>
		<div class="padding">
			<input class="button button-block button-positive" ng-click="" value="Login" type="submit" ng-disabled="loginForm.$invalid"/>
		</div>
		<p align="center">
			<a class="button button-stable" href="#/createAccount">Créez votre compte !</a>
		</p>
	</form>
</section>
