<section class="login padding">
	<form>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">Pseudo
					<!-- <i class="icon ion-flag placeholder-icon"></i> -->
				</span>
				<input type="text" id="pseudo" ng-model="pseudo"/>
			</label>
			<label class="item item-input">
				<span class="input-label">Description
					<!-- <i class="icon ion-bookmark placeholder-icon"></i> -->
				</span>
				<input type="text" id="description" ng-model="description"/>
			</label>
			<label class="item item-input">
				<span class="input-label">% de Compatibilité
					<!-- <i class="icon ion-bookmark placeholder-icon"></i> -->
				</span>
				<input type="number" id="pourcentage" ng-model="pourcentage" min="25" max="100"/>
			</label>
		</div>
		<div class="padding">
			<input class="button button-block button-positive" ng-click="checkValidity()" value="Mettre à jour" type="submit" />
		</div>
		<div class="padding">
			<div class="card">
				<div class="item item-text-wrap stable">
					<em>Le pourcentage doit être compris entre 25 et 100</em>
				</div>
			</div>
		</div>
	</form>
</section>
